#breadcrumbs {
    margin-top: 15px;
}
#breadcrumbs ul {
    background-color: #FFFFFF;
    margin-bottom: 0px;
    padding: 0px 15px;
}
.page-header {
    margin: 15px 0 20px;
}
.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}
.marg20b {
    margin-bottom: 20px !important;
}

.crop-image-source {
    border: 1px solid #CCCCCC;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
}

.crop-image-source .jcrop-holder {
    margin: 0 auto;
}
.crop-image-target {
    width:100px;
    height:100px;
    overflow:hidden;
    margin: 0 auto;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
.multiselect-list .form-control {
    height: 200px;
    overflow: scroll;
    overflow-x: hidden;
}

.multiselect-list .form-control input {
    float: left;
    width: 6%;
    height: 27px;
    margin: 0px;
}
.multiselect-list .form-control label {
    float: right;
    width: 94%;
    height: 27px;
    margin: 0px;
    line-height: 24px;
}
.multiselect-list .form-margin input {
    margin-left: 6%;
}
.multiselect-list .form-margin label {
    width: 88%;
}

.upload-progress { position:relative;border-radius: 3px;height:25px; margin-top:10px; }
.upload-bar { background-color: #f1da36; width:0%; height:25px; border-radius: 3px; }
.upload-percent { position:absolute; display:inline-block; top:3px; left:48%; }

.multiselect-list .form-control .form-margin-2 input {
    margin-left: 6%;
}
.multiselect-list .form-control .form-margin-2 label {
    width: 88%;
}
.multiselect-list .form-control .form-margin-3 input {
    margin-left: 12%;
}
.multiselect-list .form-control .form-margin-3 label {
    width: 82%;
}
.multiselect-list .form-control .form-margin-4 input {
    margin-left: 18%;
}
.multiselect-list .form-control .form-margin-4 label {
    width: 76%;
}

.csseditor{
    display: none;
}
.banner-holder {

}
.ace_editor {
    border: 1px solid lightgray;
    height: 600px;
    width: 100%;
}
#validate_form {
    display: none;
    visibility: hidden;
}

/**/

.ace_editor {
    height: 290px;
}

.panel-default>.panel-heading {
    color: #333;
    background-color: #dfe5e6;
    border-color: #ddd;
}
.page-header {
    color: #2f353e;
    border-bottom: 0;
    overflow: auto;
}

.edit-fields {
    max-width: 100% !important;
    overflow: hidden;
}

.form-control {
    font-size: 14px;
    line-height: 16px;
    border-radius: 2px;
    padding: 4px;
    height: auto;
}
.form-control {
    color: #454c54;
    border-width: 1px;
    border-color: #bdc3c7;
    border-radius: 2px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

label {
    color: #454c54;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: normal;
    font-size: 13px;
}

.panel-body {
    background-color: #eceef1;
}

#page-wrapper {
    margin: 51px 0 0 360px
}

.footer.navbar-fixed-bottom {
    width: 360px;
    padding: 0;
}

.footer .panel-body {
    padding: 10px;
}

.footer.navbar-fixed-bottom .panel {
    margin-bottom: 0;
    border-radius: 0;
    border-right: 0;
}

.form-control.active-or-not {
    border-color: #398439;
}
.sidebar {
    width: 360px;
}
.sidebar.sliding {
    background-color: #eceef1;
    padding: 10px;
    margin-top: 0;
    position: fixed;
    top: 51px;
    bottom: 56px;
    overflow-y: auto;
    overflow-x: hidden;
}

.sidebar .heading {
    color: #aeaeae;
    font-size: 16px;
    text-align: center;
    border-top: 1px solid;
    padding-top: 10px;
}

.sidebar.sliding .col-sm-4 {
    padding-right: 0;
}

.breadcrumb {
    margin-bottom: 0;
}

.page-header {
    font-size: 28px;
}

.title-tools {
    padding: 20px 0;
}

.title-tools .go-back,
.title-tools .del-teaser {
    float: right;
}

.title-tools .go-back {
    padding: 6px 30px;
}

.pl-0 {
    padding-left: 0;
}

.pr-0 {
    padding-right: 0;
}

.navbar-brand {
    padding: 0;
}

.navbar-brand img {
    width: 154px;
    padding: 10px;
}

/* PREVIEW */
.form-group {
    margin-bottom: 10px;
}

.row-with-col,
.preview-col {
    display: none;
}
.col-set .row-with-col,
.col-set .preview-col {
    display: block;
}

.col-set .preview-col {
    padding-top: 10px;
}

.with-col-5-5 .preview-text,
.with-col-5-5 .banner-holder,
.with-col-6-4 .preview-text,
.with-col-6-4 .banner-holder,
.with-col-7-3 .preview-text,
.with-col-7-3 .banner-holder,
.with-col-8-2 .preview-text,
.with-col-8-2 .banner-holder,
.with-col-9-1 .preview-text {
    float: left;
    padding-right: 15px;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.with-col-5-5 .preview-text,
.with-col-5-5 .banner-holder {
    width: 50%;
}
.with-col-5-5 .banner-holder {
    width: 50%;
}
.with-col-6-4 .preview-text,
.with-col-6-4 .banner-holder {
    width: 60%;
}
.with-col-6-4 .banner-holder {
    width: 40%;
}

.with-col-7-3 .preview-text,
.with-col-7-3 .banner-holder {
    width: 70%;
}
.with-col-7-3 .banner-holder {
    width: 30%;
}

.with-col-8-2 .preview-text,
.with-col-8-2 .banner-holder {
    width: 80%;
}
.with-col-8-2 .banner-holder {
    width: 20%;
}

.preview-col .img,
.preview-col .text {
    float: left;
    font-size: 14px;
}
.preview-col .img {
    width: 30%;
}
.preview-col .text {
    width: 70%;
}

.preview-col .img img {
    width: 100%;
}

.preview-col .img {
    max-height: 100px;
    overflow: hidden;
}

.preview-col .text {
    padding-left: 10px;
}

.preview-col,
.preview-title,
.preview-text {
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}

.preview-title {
    font-size: 32px;
}

.preview-s-title {
    font-size: 22px;
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
}

.panel-preview {
    overflow: auto;
    background: url(../img/preview-bg.png) top left repeat;

}

.panel-body.preview {
    background-color: #ffffff;
    margin: 0 auto;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.preview-img {
    position: relative;
    height: 250px;
    overflow: hidden;
    width: 100%;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 10px;
    background-position: 50% 50%;
    border-radius: 2px;
}

.preview-text {
    margin: 10px 0;
    font-size: 14px;
    line-height: 21px;
}

.preview-text.img-left,
.preview-text.img-right {
    max-height: 250px;
    overflow: hidden;
}

.preview-text.img-left .preview-img,
.preview-text.img-right .preview-img {
    width: 30%;
}
.preview-text.img-left .preview-img {
    margin-right: 15px;
}
.preview-text.img-right .preview-img {
    margin-left: 15px;
}